@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Applying the new font and anti-aliasing for smoothness */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}