# Dependencies
node_modules/
client/node_modules/
server/node_modules/
client/.env
server/.env
client/dist/

# Environment variables
.env

# macOS specific files
.DS_Store

# Optional: VSCode specific files
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?